<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href={{ url_for('static', filename='home.css') }}>
    <script>
      function validateForm() {
          
          // check the search type is selected
          var select = document.querySelector('input[name="selected_instance"]:checked');
          if (!select) {
              alert("Please select an instance");
              return false;
          }
          return true;
      }
  </script>
</head>

<body>
    <nav>
        <ul class="nav-bar">
        <li class="nav"><a href="/home">Home</a></li>
        <li class="nav"><a href="/search">Search</a></li>
        <li class="nav"><a href="/add">Add</a></li>
        <li class="nav"><a href="/logout">Log Out</a></li>
        </ul>
    </nav>
    <h1>Welcome Back Officer {{name}}</h1>
    <h1>Badge Number: {{ badge }}</h1>


  <br>
  <h2>Crimes</h2>
    <table id="crime">
      <tr>
        <th>Select</th>
        <th>ID</th>
        <th>Criminal ID</th>
        <th>Type</th>
        <th>Date Charged</th>
        <th>Current Status</th>
        <th>Hearing Date</th>
        <th>Deadline for Appeal</th>
      </tr>

      {% for row in crime_rows %}
      <tr>
        {% set value_string = row['Crime_ID'] ~ ',
                                  ' ~ row['Criminal_ID'] ~ ',
                                    ' ~ row['Classification'] ~ ',
                                    ' ~ row['Date_charged'] ~ ',
                                    ' ~ row['Status'] ~ ',
                                    ' ~ row['Hearing_date'] ~ ',
                                    ' ~ row['Appeal_cut_date'] %}

        <td> <input type="radio" name="selected_instance" value="{{ value_string }}" form="action">
          {% for column in crime_columns %}
          <td>{{ row[column] }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
  </table>


  <form id="action" action="" method="post" onsubmit="return validateForm()">
    <input type="submit" formaction="/update" value="Update">
    <input type="submit" formaction="/delete" value="Delete" onclick="return popUpDelete();">
  </form>

  <h2>Criminals</h2>

  <table>
      <tr>
        <th>Criminal ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Street Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Phone Number</th>
        <th>Violent Offender Status</th>
        <th>Probation Status</th>
      </tr>
  
      {% for row in rows %}
      <tr>
          {% for column in columns %}
          <td>{{ row[column] }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
  </table>
  <br>
  


</body>
</html>

<script>
  function popUpDelete() {
    return confirm('Are you sure you want to delete this record?');
  }
</script>